{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Bibliothek</title>
    <link rel="stylesheet" href="{% static 'css/pure-min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block head_css %}
    {% endblock %}
  </head>
  <body>

    <div id="content">
      <header>
        <h1>Bibliothek</h1>
      </header>
      {% block content %}
      {% endblock %}
    </div>

    {% block js_templates %}
    {% endblock %}

    {% block body_js %}
    {% endblock %}

  </body>
</html>
