{% extends "base.html" %}
{% load static from staticfiles %}

{% block content %}
  <div id="books">
    <form class="pure-form pure-form-stacked" id="addBook" action="#" method="post">
      <fieldset>
        <legend>Add book</legend>
        <div class="pure-g-r">
          <div class="pure-u-1-2">
            <label for="title">Title</label>
            <input id="title" type="text" name="title" />
          </div>
          <div class="pure-u-1-2">
            <label for="author">Author</label>
            <input id="author" type="text" name="author" />
          </div>
          <div class="pure-u-1-2">
            <label for="releaseDate">Release date</label>
            <input id="releaseDate" type="text" name="releaseDate" />
          </div>
          <div class="pure-u-1-2">
            <label for="keywords">Keywords</label>
            <input id="keywords" type="text" name="keywords" />
          </div>
          <div class="pure-u-1-2 hide">
            <label for="coverImage">CoverImage</label>
            <input id="coverImage" type="file" name="cover"/>
          </div>
          <div class="pure-u-1-2 buttons">
            <button class="pure-button" id="add">Add</button>
            <button class="pure-button" id="save">Save</button>
            <button class="pure-button" id="cancel">Cancel</button>
          </div>
        </div>
      </fieldset>
    </form>
    <div class="pure-g-r" id="book-list"></div>
  </div>
{% endblock %}

{% block js_templates %}
  <script id='bookTemplate', type="text/template">
    <img src="<%= coverImage %>" alt="<%= title %>"/>
    <ul>
      <li class="title"><%= title %></li>
      <li><%= author %></li>
      <li><%= releaseDate %></li>
      <li><% _.each(keywords, function (k) { %> <%= k %><% }); %></li>
    </ul>
    <button class="edit pure-button">edit</button>
    <button class="delete pure-button">Delete</button>
  </script>
{% endblock %}

{% block body_js %}
  <script>
    app = {
      defaultCover: "{% static 'img/placeholder.png' %}",
      apiUrl: "/api/v1/"
    }
  </script>
  <script src="{% static 'js/libs/jquery.js' %}"></script>
  <script src="{% static 'js/libs/underscore.js' %}"></script>
  <script src="{% static 'js/libs/backbone.js' %}"></script>
  <script src="{% static 'js/models/book.js' %}"></script>
  <script src="{% static 'js/collections/library.js' %}"></script>
  <script src="{% static 'js/views/book.js' %}"></script>
  <script src="{% static 'js/views/library.js' %}"></script>
  <script src="{% static 'js/app.js' %}"></script>
{% endblock %}
